@import "tailwindcss";



  
/* Fondo azul marino y letras blancas */
body {
    background-color: #03044D; 
    color: white; /* Color de texto blanco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  /* Alternativa con fondo negro */
  body.bg-black {
    background-color: black;
    color: white; /* Texto blanco para el fondo negro */
  }