---
import Navbar from '../components/Navbar.vue';
import About from '../components/About.vue';
import Projects from '../components/Projects.vue';
import Technologies from '../components/Technologies.vue';
import Education from '../components/Education.vue';
import Experience from '../components/Experience.vue';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Landing Page - Leonardo Bascuñan</title>
  </head>
  <body class="bg-gray-100 text-gray-900 min-h-screen">
   <Header/>
    <main class="mx-8 bg-blue-800 min-h-screen">
      <section id="about">
        <About />
      </section>
      <section id="experience">
        <Experience />
      </section>
      <section id="projects">
        <Projects />
      </section>
      <section id="technologies">
        <Technologies />
      </section>
      <section id="education">
        <Education />
      </section>
    </main>
    <Footer/>
  </body>
</html>
